nav .nav-wrapper{
	padding:30px 0 20px;
	height:auto;
	@media (max-width: 990px){
		height:115px;
	}
}
nav.light-blue{
	height:auto;
}
#logo-container {
	@media (max-width:990px){
			width:80%;
			float:right;
			text-align:right;
			padding-top: 10px;
	}
	img{max-width:100%;}
}
label.error{
    text-align: right;
    color: red;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}





// blog entry



.slider{
  position:relative;
  text-align:center;
  background-size: cover !important;
  overflow:hidden;
  background-position: center;
  background-repeat: no-repeat;
  min-height:700px;

  &:before{
    content: "";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,.4);
    position:absolute;
  }
}

.sliderEntry{
  position:absolute;
  width:100%;
  top:100px;
  img{
    max-width:100%;
    opacity: .8;
  }
  h1{
    color:#fff;
    font-size:70px;
    margin:50px 0 25px;
    font-weight: 400;
  }
  h2{
    color:#fff;
    font-size:25px;
  }
}
.sliderEntryOptions{
  color:#fff;
}
.blogEntry-body{
  padding:80px 12%;
  font-size:17px;
  font-weight: 400;
  line-height: 35px;
}
.blogEntry-special{
  border-left:5px solid red;
  padding:20px;
  font-weight: 400;
  background:#e9e9e9;
}

.modal .modal-content{
  padding:0;
}

#postWrapper p {
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 2em;
}

#postWrapper p:nth-of-type(3){
    border-left: 5px solid red;
    padding: 20px;
    font-weight: 400;
    background: #e9e9e9;
}
.errorBox{
    width: 100%;
    float: left;
}
.blogEntry-body img {
    max-width: 100% !important;
    height: 100% !important;
    max-height:100% !important;
}




//loader
.loading{
  position: absolute;
  left:-100%;
  top:0;
  background: rgba(255,255,255,.8);
  width:100%;
  height:100%;
  z-index: 9998;
}
.loading.on{
  left:0;
}
.bgloader-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 9999;
  left:50%;
  top:50%;
  margin: -20px 0 0 -20px;
}

.bgloader-grid .bgloader {
  width: 33%;
  height: 33%;
  background-color: #ff9800;
  float: left;
  -webkit-animation: bgloaderGridScaleDelay 1.3s infinite ease-in-out;
          animation: bgloaderGridScaleDelay 1.3s infinite ease-in-out; 
}
.bgloader-grid .bgloader1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.bgloader-grid .bgloader2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.bgloader-grid .bgloader3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.bgloader-grid .bgloader4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.bgloader-grid .bgloader5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.bgloader-grid .bgloader6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.bgloader-grid .bgloader7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.bgloader-grid .bgloader8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.bgloader-grid .bgloader9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes bgloaderGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes bgloaderGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}