
.header.scrolled{
  background: rgba(255,255,255,1);
  border-bottom:1px solid #b7b7b7;
  .mainMenu{
    margin:3px 0 7px;
    a{
      color:#000;
      font-size:12px;
    }
  }
  .logo{
    margin:2px 0 0;
  }
}

.logo{
  max-width:250px;
  float:left;
  margin:15px 0 0;
  transition: all .5s;
  img{max-width:100%;}
}
.header{
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  transition: all .5s;
}

.header{
  width:100%;
}
.mainMenu{
  float:right;
  margin:15px 0;
  transition: all .5s;

ul{
  margin:0;
  padding:0;
}
  ul li{
    display: inline-block;
    a{
      text-transform: uppercase;
      color:#fff;
      font-weight: 600;
      font-size:20px;
      text-decoration:none;
      margin:0 10px;
      border-bottom: 2px solid transparent;
      transition: border-color .2s, font-size .5s;

      &:hover, &.active{
        border-color:red;
      }
    }
  }
}


.slider{
  position:relative;
  text-align:center;
  background-size: cover;
  overflow:hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height:700px;

  &:before{
    content: "";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,.4);
    position:absolute;
  }
}

.sliderEntry{
  position:absolute;
  width:100%;
  top:100px;
  img{
    max-width:200px;
    opacity: .8;
  }
  h1{
    color:#fff;
    font-size:70px;
    margin:50px 0 25px;
    font-weight: 400;
  }
  h2{
    color:#fff;
    font-size:25px;
  }
}
.sliderEntryOptions{
  color:#fff;
}
.blogEntry-body{
  padding:80px 12%;
  font-size:17px;
  font-weight: 400;
  line-height: 35px;
}
.blogEntry-special{
  border-left:5px solid red;
  padding:20px;
  font-weight: 400;
  background:#e9e9e9;
}





//reading progress bar

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 35px;

  /* Dimensions */
  width: 100%;
  height: 2px;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  display: block;
  z-index: 255;
}

.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}
